*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
html, body {
    background-color: #000;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    transition: .3s;
    display: inline-block;
    color: #fff;
}
a:hover{
    color: #FFA719;
}
input, input:focus, textarea, select{
    outline: none !important;
}
p{
    color: #fff;
    line-height: 1.9;
}
h1, h2, h3, h4, h5, h6{
    color: #fff;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
.article-padd {
    padding: 100px 0;
}
/* STYLE scrollbar */
/* width */
::-webkit-scrollbar {
    width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #F3F6FB;
    border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #FD8604;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #FD8604;
}
/* STYLE scrollbar end */
.btn_1 {
    border: 2px solid #FFA719;
    padding: 12px 35px;
    border-radius: 50px;
    font-weight: 700;
    transition: 0.25s;
}
.slide:hover,
.slide:focus {
    box-shadow: inset 13em 0 0 0 #FFA719;
    border-color: #FFA719;
    color: #fff;
}
.side-imgs img:first-child {
    position: absolute;
    left: 0;
    top: 80px;
    height: 1450px;
}
.side-imgs img:last-child {
    position: absolute;
    right: 0;
    height: 870px;
    top: 70px;
}
.navbar-brand span {
    color: #fff;
    font-weight: 700;
    padding-left: 10px;
    font-size: 21px;
}
.navbar-toggler span {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto 5px auto;
    position: relative;
    background: #FF8900;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.03, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
button.navbar-toggler, button.navbar-toggler:focus  {
    /*border: 2px solid #FFA719 !important;
    width: 50px;
    height: 50px;
    border-radius: 50%;*/
    padding: 0;

}
.navbar-nav {
    margin-top: 0 !important;
    margin-left: auto;
}
.navbar-nav li {
    padding: 0 20px;
}
.navbar-nav li a {
    color: #fff !important;
    font-weight: 600;
}
.navbar-nav li a:hover {
    color: #FFA719 !important;
}
.nav-btn a {
    border: 2px solid #FFA719;
    padding: 8px 25px;
    border-radius: 50px;
    font-weight: 600;
}
.drop-menu {
    position: relative;
}

.drop-menu ul {
    position: absolute;
    background-color: #000;
    width: 200px;
    left: 10px;
    padding-top: 15px;
    display: none;
    border-radius: 0 0 22px 22px;
}
.icon-change-web .fa {
    transform: rotate(180deg);
}
.drop-menu ul li {
    padding-bottom: 15px;
}
.drop-menu ul li:last-child {
    padding-bottom: 20px;
}
.navbar-nav h4 {
    display: none;
}
.navbar-nav li img {
    display: none;
}
.nav-wraper {
    position: fixed;
    left: 0;
    right: 0;
    background-color: #000;
    width: 100%;
    z-index: 999;
    top: 0;
    box-shadow: -5px -3px 13px 6px #1e1e1e0d;
}
.banner-sec {
    margin-top: 88.8px;
    background-image: url("../images/banner-glow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.banner-wraper {
    text-align: center;
    position: relative;
    height: calc(100vh - 103.8px);
    align-items: center;
    justify-content: center;
    display: flex;
}
.mbl-banner-shape {
    display: none;
}
.banner-content-wrap {
    position: relative;
    z-index: 9;
}
.banner-content-wrap img {
    margin-bottom: 20px;
}
.banner-content-wrap h1 {
    font-size: 48px;
    font-weight: 700;
}
.banner-content-wrap p {
    font-size: 24px;
}
.mining-content h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.3;
}
.mining-content p {
    font-size: 24px;
    font-weight: 500;
    color: #D9D9D9;
}
.btn-wrap .btn_1 {
    max-width: 190px;
    width: 100%;
    text-align: center;
}
.btn-wrap .btn_1:first-child {
    margin-right: 20px;
}

.hd-wraper {
    margin-bottom: 50px;
    position: relative;
}
.hd-wraper h2 {
    font-size: 42px;
    font-weight: 700;
}
.hd-wraper h2 span {
    background-color: #FFA719;
    height: 35px;
    width: 10px;
    display: inline-block;
}
.hd-wraper p {
    color: #D9D9D9;
    font-size: 30px;
    font-weight: 500;
    margin: 20px 0 30px 0;
}
.utility-content-outer {
    position: relative;
    margin-bottom: 50px;
}
.utility-content-outer .back-shape {
    position: absolute;
    width: 86%;
    height: 93%;
    border-radius: 60px;
    border: 2px solid #FD8604;
    transform: translate(60px, 60px);
}
.utility-content-wrap {
    height: 370px;
    width: 570px;
    padding: 30px 60px 50px 40px;
    background: linear-gradient(110.79deg, #222222 4.02%, #2B2929 95.36%);
    border: 2px solid #E07806;
    box-sizing: border-box;
    border-radius: 60px;
    position: relative;
}
.utility-content-wrap h4 {
    font-size: 29px;
    font-weight: 700;
    line-height: 1.6;
}
.utility-content-wrap p {
    font-weight: 700;
    padding-top: 20px;
    color: #6E7A83;
}
.utility-sec .col-lg-6:nth-of-type(4) {
    transform: translateX(30%);
}
.utility-sec .col-lg-6:nth-of-type(5) {
    transform: translateX(30%);
}
.utility-sec .col-lg-6:nth-of-type(4), .utility-sec .col-lg-6:nth-of-type(5) {
    margin-top: 25px;
}
.utility-sec {
    margin-top: 100px;
    position: relative;
}
.utility-shapes img:first-child {
    position: absolute;
    right: 0;
    top: -250px;
    height: 70%;
}
.utility-shapes img:last-child {
    position: absolute;
    left: 0;
    bottom: -90px;
}
.swiper-content-wrap {
    position: relative;
    border: 2px solid #A66710;
    background: transparent linear-gradient(180deg, #000000 0%, #151515 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    padding: 40px 40px;
    border-radius: 15px;
    min-height: 580px;
}

.phase-wrap {
    position: absolute;
    right: 0;
    color: #fff;
    background-color: #A66710;
    top: 0;
    font-size: 22px;
    font-weight: 700;
    padding: 10px 22px 10px 25px;
    border-radius: 0 60px 0 5px;
}
.swiper-content-wrap h4 {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
}
.swiper-content-wrap ul li {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    color: #B3B3B3;
    padding: 8px 0 8px 0;
}
.swiper-outer-wraper {
    padding-left: 50px;
}
.swiper-content-wrap h5 {
    position: absolute;
    bottom: 25px;
    left: 25px;
}
.inprogress-content h5 img, .completed-content h5 img {
    margin-right: 10px;
}
.inprogress-content h5 img {
    -webkit-animation: rotation 2s infinite linear;
}
@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    position: relative;
    width: 598px;
}
.roadmap-sec {
    position: relative;
    margin-top: 100px;
}
.roadmap-shapes img {
    position: absolute;
    right: 0;
    bottom: -90px;
}
.partners-content-wraper {
    background: transparent linear-gradient(131deg, #000000 0%, #191919 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 2px solid #FD8604;
    opacity: 1;
    border-radius: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
}
.partner-single-content {
    min-height: 570px;
    border-right: 4px solid #492703;
    padding: 35px 20px;
}
.partner-single-content:last-child {
    border-right: none;
}
.partner-single-content h4 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.partners-sec {
    margin-top: 100px;
    position: relative;
}
.partners-shapes img {
    position: absolute;
    right: 0;
    top: -80px;
}
.logos-sec {
    position: relative;
    margin-top: 100px;
}
.logo-shape img {
    position: absolute;
    left: 0;
    top: -200px;
}
.logos-wraper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    position: relative;
    padding: 10px 0;
}

.operation-sec .hd-wraper h4 {
    font-size: 30px;
    font-weight: 700;
    margin: 25px 0;
}
.operation-sec .hd-wraper p {
    line-height: 1.5;
}
.operation-sec .hd-wraper a {
    margin-top: 10px;
}
.operations-wrap {
    text-align: center;
    position: relative;
}
.operation-sec {
    position: relative;
    margin-top: 100px;
}
.operation-shape img {
    position: absolute;
    right: 0;
    top: -80px;
}
.partner-outer-content {
    position: relative;
}
.back-shape {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    border: 2px solid #FD8604;
    transform: translate(60px, 60px);
}
.ftr-sec {
    background: transparent linear-gradient(180deg, #000000 0%, #2C2C2C 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 200px 0 50px 0;
}
.company-info h3{
    font-size: 24px;
    font-weight: 700;
    margin-top: 25px;
}
.location {
    margin-top: 60px;
    margin-bottom: 80px;
}
.location h4 {
    font-weight: 700;
    padding-top: 10px;
    font-size: 18px;
}
.location p {
    font-size: 18px;
    line-height: 1.6;
}
.copyright-wrap h6 {
    font-weight: 700;
    margin-bottom: 20px;
}
.copyright-wrap ul {
    display: flex;
}
.copyright-wrap ul li:first-child {
    padding-right: 30px;
}
.copyright-wrap ul li a {
    font-size: 14px;
    font-weight: 700;
}
.social-links {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-links ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-links ul li {
    padding: 0 18px;
}
.social-links ul li a {
    font-size: 22px;
}
.download-app {
    padding-left: 30px;
}
.download-app h6 {
    font-weight: 700;
    margin-bottom: 20px;
}
.download-app ul {
    display: flex;
}
.download-app ul li a img {
    height: 50px;
}
.download-app ul li:first-child {
    padding-right: 25px;
}

/*New Sections */
.utility-apps-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    position: relative;
    z-index: 9;
}
.utility-apps-sec {
    position: relative;
    padding-top: 100px;
}
.utility-apps-sec .utility-shapes img:first-child {
    height: auto;
    left: auto;
    top: auto;
}
.utility-apps-single h4 {
    margin-bottom: 20px;
}
.utility-apps-single img {
    margin-bottom: 25px;
}
.cnx-token-wrap {
    background-color: #131313;
    max-width: 600px;
    position: relative;
}
.cnx-token-wrap h5 {
    background-color: #191919;
    padding: 20px 20px;
    font-weight: 700;
}
.content-single {
    margin-top: 15px;
}
.content-single ul {
    display: flex;
    justify-content: space-between;
    border: 1px solid #545554;
    padding: 10px 10px;
}
.content-single ul li p {
    margin-bottom: 0;
    line-height: unset;
    font-weight: 600;
    font-size: 14px;
}
.table-content-list {
    padding: 0 20px 20px 20px;
}
.table-hd ul {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 10px 20px;
}
.table-hd ul li {
    color: #A0A0A0;
    font-weight: 700;
    font-size: 14px;
}
.table-hd ul li:first-child {
    max-width: 310px;
    width: 100%;
}
.table-content-list .content-single span {
    height: 15px;
    width: 15px;
    background-color: #603300;
    display: inline-block;
    margin-right: 10px;
}
.table-content-list .content-single li:first-child {
    display: flex;
    align-items: center;
    max-width: 250px;
    width: 100%;
}
.table-content-list .content-single li:first-child p {
    color: #A0A0A0;
}
.table-content-list .content-single:nth-of-type(2) span {
    background-color: #B56100;
}
.table-content-list .content-single:nth-of-type(3) span {
    background-color: #FE8801;
}
.table-content-list .content-single:nth-of-type(4) span {
    background-color: #FFB867;
}
.table-content-list .content-single:nth-of-type(5) span {
    background-color: #FFD8AC;
}
.table-content-list .content-single:nth-of-type(5) span {
    background-color: #A8865E;
}
.table-content-list .content-single:nth-of-type(6) span {
    background-color: #5A4125;
}
.table-content-list .content-single:nth-of-type(7) span {
    background-color: #7C7C7C;
}
.token-sec {
    padding-top: 250px;
    position: relative;
}
.presale-round-wrap {
    max-width: 500px;
    margin-bottom: 40px;
}
.presale-round-wrap .table-content-list .content-single li:first-child {
    max-width: 180px;
}
.presale-round-wrap .table-hd ul li:first-child {
    max-width: 200px;
}
.table-content-list .content-single:nth-last-of-type(1) li:first-child p, .table-content-list .content-single:nth-last-of-type(2) li:first-child p, .table-content-list .content-single:nth-last-of-type(3) li:first-child p {
    color: #fff;
}
.token-shapes img:first-child {
    position: absolute;
    left: 0;
    top: 20px;
    height: 59%;
}
.token-shapes img:last-child {
    position: absolute;
    right: 0;
    bottom: 60px;
}
.presale-round-wrap .table-content-list .content-single:nth-of-type(5) ul {
    border: 1px solid #FFA719;
}
.presale-round-wrap .table-content-list .content-single:nth-of-type(4) li:first-child p {
    color: #fff;
}
.presale-round-wrap .table-content-list .content-single:nth-last-of-type(4) li:first-child p, .presale-round-wrap .table-content-list .content-single:nth-last-of-type(4) li:first-child p {
    color: #A0A0A0;
}
.single-supply {
    margin-top: 40px;
}
.single-supply .content-single ul {
    background-color: #141414;
}
.single-supply .content-single li:first-child p {
    color: #A0A0A0;
}
.partner-icons {
    background-color: #161616;
    border-radius: 14px;
    padding: 20px 20px;
    min-height: 360px;
}
.partner-icons h4 {
    font-weight: 600;
    margin-bottom: 40px;
    font-size: 22px;
}
.partner-img-wrap img {
    padding: 0 40px 30px 0;
}

.whitepaper-docs {
    display: flex;
    align-items: center;
    justify-content: center;
}
.whitepaper-doc {
    max-width: 224px;
    text-align: center;
    width: 100%;
    margin: 0 20px;
}
.whitepaper-doc a {
    border: 2px solid #7B7B7B;
    border-radius: 12px;
    width: 100%;
    padding: 33px 0;
    margin-bottom: 25px;
}
.whitepaper-doc a h3 {
    font-size: 22px;
    margin-bottom: 0;
    margin-top: 15px;
}
.whitepaper-doc h4 {
    font-size: 18px;
}
.whitepaper-doc p {
    color: #A0A0A0;
}
.whitepaper-sec {
    background: transparent linear-gradient(180deg, #2C2C2C 0%, #000 100%) 0% 0% no-repeat padding-box;
    padding: 120px 0 0 0;
}
.ftr-inner {
    background: no-repeat;
    padding-top: 0;
}
.ftr-inner .company-info {
    display: none;
}
.whitepaper-hd {
    text-align: center;
    margin-bottom: 40px;
}
.whitepaper-hd h2 {
    font-weight: 700;
    font-size: 46px;
}
.whitepaper-hd p {
    font-size: 22px;
    color: #A5A5A5;
}
.ftr-inner .location {
    margin-top: 35px;
}
.cop-outer {
    background: transparent linear-gradient(180deg, #2C2C2C 0%, #000 100%) 0% 0% no-repeat padding-box;
    padding: 120px 0 100px 0;
}
.cop-hd-wrap {
    text-align: center;
    margin-bottom: 40px;
}
.cop-hd-wrap h2 {
    font-weight: 700;
    font-size: 46px;
}
.cop-hd-wrap p {
    font-size: 22px;
    color: #A5A5A5;
}
.cop-form-wrap {
    max-width: 440px;
    margin: 0 auto;
}
.cop-form-wrap .form-group {
    margin-bottom: 25px;
}
.cop-form-wrap .form-group label {
    font-weight: 700;
    color: #fff;
    margin-bottom: 8px;
}
.cop-form-wrap .form-group input {
    border: 1px solid #EEEFEF;
    border-radius: 4px;
    height: 55px;
    background-color: transparent;
    color: #fff;
}
.cop-form-wrap .form-group textarea {
    border: 1px solid #EEEFEF;
    border-radius: 4px;
    background-color: transparent;
    color: #fff;
}
.cop-form-wrap .form-group .btn {
    background-color: #4A88F6;
    width: 100%;
    text-align: center;
    font-weight: 600;
    height: 55px;
    margin-top: 15px;
}

.cop-form-wrap .form-group .btn:hover {
    background-color: transparent;
    border: 1px solid #4A88F6;
}
.team-wrap {
    padding: 120px 0 100px 0;
    background: transparent linear-gradient(180deg, #2C2C2C 0%, #000 100%) 0% 0% no-repeat padding-box;
}
.team-hd {
    text-align: center;
    margin-bottom: 40px;
}
.team-hd h2 {
    font-weight: 700;
    font-size: 46px;
}
.team-hd p {
    font-size: 22px;
    color: #A5A5A5;
}
.single-team {
    position: relative;
    max-width: 255px;
    text-align: center;
}
.single-team img {
    max-width: 100%;
}
.team-img-wrap {
    position: relative;
}
.single-team a {
    position: absolute;
    font-size: 30px;
    right: 10px;
    bottom: 0;
}
.single-team h4 {
    font-weight: 600;
    font-size: 24px;
    margin-top: 18px;
}
.single-team p {
    color: #A5A5A5;
    margin-bottom: 0;
}
.get_btn a {
    margin: 25px 10px 0 10px;
}
.get_btn img {
    margin-bottom: 0;
    width: 172px;
}
.visa-circle {
    position: absolute;
    right: -50px;
    bottom: 50px;
    margin-bottom: 0;
}
.make-online-sec {
    position: relative;
    padding-top: 150px;
    background-image: url("../images/banner-glow.svg");
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: center 300px;
    padding-bottom: 150px;
}
.online-hd h2 {
    font-size: 46px;
    font-weight: 700;
}
.online-hd h2 i {
    color: #FF8500;
    font-size: 36px;
}
.online-hd p {
    color: #808080;
    font-size: 22px;
}
.card-info ul li h4 {
    position: relative;
    font-weight: 700;
    font-size: 18px;
    padding-left: 35px;
}
.card-info ul li h4:before {
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    background-image: url('../images/green-tick.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
}
.card-info ul li p {
    color: #A6A5A4;
    font-size: 15px;
    font-weight: 500;
}
.money-mockup-wrap {
    display: flex;
}
.card-info {
    max-width: 290px;
    margin-top: 40px;
}
.card-info ul li {
    margin-bottom: 40px;
}
.card-mockup-img {
    margin-right: 60px;
}
.make-online-sec .btn-wrap {
    margin-bottom: 80px;
}
.down_app_wrap {
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.down_inner_wrap {
    text-align: center;
}
.down_inner_wrap h3 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 25px;
}
.down_btn a {
    max-width: 150px;
    margin: 10px 10px;
}
.make-online-shape img {
    position: absolute;
    right: 0;
    bottom: -50px;
    height: 80%;
}
.access-hd h2 {
    font-size: 46px;
    font-weight: 700;
}
.access-hd p {
    color: #808080;
    font-size: 22px;
}
.info-btn-wrap {
    display: flex;
    justify-content: space-between;
    max-width: 506px;
    margin-top: 35px;
}
.info-btn-wrap h4 {
    font-size: 24px;
    margin-bottom: 5px;
}
.info-btn-wrap p {
    margin-bottom: 0;
    color: #999999;
}
.info-btn-wrap a {
    border: 1px solid #FF8900;
    border-radius: 8px;
    font-weight: 600;
    font-size: 17px;
    padding: 18px 30px;
}
.info-btn-wrap a:hover {
    background-color: #FF8900;
    color: #fff;
}
.access-hd {
    margin-bottom: 100px;
}
.access-atm-sec {
    position: relative;
    background-image: url('../images/banner-glow.svg');
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: 460px 150px;
    padding-bottom: 0;
}

.atm-acc-shapes img:first-child {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.atm-acc-shapes img:last-child {
    position: absolute;
    right: 0;
    bottom: -430px;
}
.cards-wraper {
    position: relative;
}
.crypto-hd h2 {
    font-size: 46px;
    font-weight: 700;
}
.crypto-hd p {
    color: #808080;
    font-size: 22px;
}
.crypto-convert-sec {
    padding-top: 150px;
}
.get_card {
    display: flex;
    align-items: flex-end;
    height: 100%;
    padding-bottom: 60px;
    padding-left: 100px;
}
.get_card a {
    border: 1px solid #FF8900;
    border-radius: 8px;
    padding: 13px 25px;
}
.get_card a:hover {
    background-color: #FF8900;
    color: #fff;
}
.crypto-hd {
    padding-bottom: 90px;
}
.ftr-no-shadow {
    background: transparent;
    position: relative;
}
.visa-ftr-shape img {
    position: absolute;
    right: 0;
    bottom: 0;
}
.walletx-sec, .wallet-easy-sec  {
    background-image: url("../images/banner-glow-blue.svg");
}
.walletx-sec .banner-content-wrap p, .cnx-visa-sec .banner-content-wrap p {
    color: #99999B;
}
.wallet-easy-sec .btn_1 {
    border-color: #0076FF;
}
.wallet-easy-sec .btn_1:hover {
    box-shadow: inset 13em 0 0 0 #0076FF;
}
.easy-wallet-list {
    position: relative;
}
.easy-wallet-list ul {
    display: flex;
    justify-content: space-between;
}
.create-wallet {
    background-image: none;
}
.easy-wallet-list ul li h4 {
    font-size: 22px;
    font-weight: 700;
    border: 2px solid #0076FF;
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 15px;
}
.easy-wallet-list ul li h5 {
    font-weight: 700;
    font-size: 14px;
}
.easy-wallet-list ul li p {
    color: #B3B3B3;
    font-size: 12px;
}
.easy-wallet-list ul li {
    max-width: 195px;
}
.create-wallet .access-hd h2 i {
    font-size: 36px;
    color: #0076FF;
}
.easy-wallet-list ul li:nth-of-type(1) h4, .easy-wallet-list ul li:nth-of-type(4) h4 {
    background-color: #0076ff;
}
.card-info ul li a {
    max-width: 89px;
    margin-top: 15px;
}

.card-info ul li a:nth-of-type(1), .card-info ul li a:nth-of-type(2) {
    margin-right: 7px;
}
.p-wallet-shape-shape img {
    position: absolute;
    right: 0;
    bottom: -520px;
}
.inv-sec-wrap {
    background: transparent linear-gradient(180deg, #0f0f0f40 0%, #00000054 100%) 0% 0% no-repeat padding-box;
    padding: 40px 50px;
    margin-left: 40px;
}
.inv-sec-wrap h4 {
    font-size: 19px;
    font-weight: 700;
}
.inv-sec-wrap a {
    border: 1px solid #0076FF;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 25px;
    margin-top: 10px;
}
.inv-sec-wrap a:hover {
    background-color: #0076FF;
    color: #fff;
}
.create-wallet .atm-acc-shapes img:last-child {
    position: absolute;
    right: 0;
    bottom: -430px;
    height: 100%;
}
.mobile-product-mock-slider {
    display: none;
}
.app-sec-shape {
    display: none;
}
.terms-sec {
    margin-top: 88.8px;
    padding-top: 50px;
}
.terms-content-wraper h2 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 15px;
}
.terms-content-wraper h4 {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
}
.terms-content-wraper ul {
    padding-left: 15px;
}
.terms-content-wraper ul li {
    color: #fff;
    padding-bottom: 15px;
    list-style: disc;
}
.partners-shapes-mbl, .token-shapes-mbl, .get_cnx_btn_mbl, .roadmap-shapes-mbl, .contact-sec, .mbl-links, .mobile-logos, .whitepaper-hd h2 img, .team-pg-hd, .cnx-visa-top-shape, .get_btn_mbl, .visa-mbl, .make-online-shape-mbl, .pick-card-mbl, .convert-visa-icon, .wallet-top-shape, .make-online-shape-mbl, .easy-wallet-info, .p-wallet-sec .money-mockup-wrap ul li .pick-card-mbl, .team-hd span {
    display: none;
}
.list-partner h5 {
    color: #898989;
    font-size: 18px;
    font-weight: 600;
}
.beta-info-wrap {
    text-align: center;
}
.beta-info-wrap h3 {
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
    padding-top: 5px;
}
.beta-info-wrap p {
    color: #000;
}
.beta-info-outer .modal-content {
    border-radius: 27px;
    padding: 10px 0;
}
.beta_btn_wrap {
    margin-top: 10px;
}
.beta_btn_wrap a {
    background-color: #43A2DC;
    border-radius: 10px;
    padding: 12px 12px;
    font-size: 14px;
    max-width: 160px;
    width: 100%;
    font-weight: 600;
    margin: 0 9px;
    border: 1px solid #43A2DC;
}

.beta_btn_wrap a i {
    padding-right: 5px;
}
.beta_btn_wrap a:hover {
    background-color: transparent;
    color: #43A2DC;
    border: 1px solid #43A2DC;
}
.beta-info-outer .modal-footer {
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    border-top: none;
}
.beta-info-outer .modal-footer .btn {
    color: #999999;
    font-weight: 600;
    padding-top: 0;
}
.walletx-popup .beta_btn_wrap a, .walletx-popup .beta_btn_wrap a:hover {
    background-color: transparent;
    border: none;
    max-width: 100%;
    width: 45%;
    margin: 0 auto;
}